/* #region Footer */

.rodape{
    margin-left: 5%;
    width: 90vw;
    background:  rgb(31, 14, 43);
    color: white;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border-top: 4px solid #d9dbb3;
}

.imagem-rodape{
    width: 3em;
    height: 3em;
}

.menu-rodape{
    display: flex;
    width: 100%;
}

.links-externos{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

/* #endregion */